<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mars Rover Adventures</title>
    <link rel="stylesheet" href="css/Menu.css">
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="css/Index.css">
    <script src="js/menu.js"></script>

    <title>Home Page</title>
</head>
<body>
    <!---   <script>
         window.addEventListener('mouseup',function(event){
           var box = document.getElementsByClassName('box');
           if(event.target != box){
             box.style.display = 'none';
           }
         });
       </script>-->

    <section class="s_container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>    
    </section>
</body>
</html>
