html {
    background-image: url(/Images/rocks.jpg) !important;
}

body {
    background-color: rgba(0,0,0,0.3);
}

a {
    text-decoration:none;
}
.s_container_inner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    overflow-y: auto;
    flex: 1;
}
#index-flex {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#index-previews {
    flex-direction: column;
    align-items: center;
    height:inherit;
}

.preview-title {
    font-weight: 800;
    font-size: 5em;
    letter-spacing: -2px;
    line-height: 0.8;
    user-select: none;
    color: white;
}

.banner-container {
    height:33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    grid-area: img;
    padding: 1em;
    background-position: center;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    background-size: 100%;
    transition: background-size 2s;
    background-blend-mode: hard-light;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

    .banner-container:hover {
        background-size: 110%;
        background-blend-mode: normal;
    }

.banner, .banner-r {
    display: flex;
    width: 1000px;
    min-width: 700px;
}

.banner-r {
    text-align: right;
    justify-content: flex-end;
}