.s_container_inner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    overflow-y: auto;
    flex: 1;
}

.intro {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 70px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", "SF Pro", "Roboto", "Open Sans", Helvetica;
    color: white;
    font-size: 18px;
}

#index-flex {
    display: flex;
    flex-direction: column;
}

#index-previews {
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px black;
}

.preview-title {
    font-weight: 800;
    font-size: 5em;
    letter-spacing: -2px;
    line-height: 0.8;
    user-select: none;
}

#index-welcome {
    display: flex;
    color: black;
    justify-content: space-around;
    margin: 1em 0 1em 0;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    line-height: 0.8;
}

#header {
    font-weight: 200;
    letter-spacing: -3px;
    font-size: 3em;
    align-self: flex-end;
    color: black;
}

#motto {
    align-self: flex-end;
    color: black;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    grid-area: img;
    padding: 1em;
    background-position: center;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    background-size: 100%;
    transition: background-size 2s;
    background-blend-mode: hard-light;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

    .banner-container:hover {
        background-size: 110%;
        background-blend-mode: normal;
    }

.banner, .banner-r {
    display: flex;
    width: 1000px;
    min-width: 700px;
}

.banner-r {
    text-align: right;
    justify-content: flex-end;
}

footer {
    display: flex;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0,1);
    bottom: 0;
    padding: 2px 1em 2px 1em;
    align-items: center;
    justify-content: space-between;
}

#footer-nav {
    display: flex;
}