@model MarsRoverBestGroup3._0.Models.GalleryModel;

<head>
    <link rel="stylesheet" href="/css/Gallery.css">
    <script src="/js/Gallery.js"></script>
</head>

<body>
    <div id="gallery-container">
        <div id="gallery-flex">
            <div id="gallery-form">
                <strong>@Model.rover</strong>
                <p>@Model.date.ToShortDateString()</p>
                @using (Html.BeginForm("Gallery", "Home", FormMethod.Post))
                {
                    <input type="date" id="start" name="date"
                           value="2020-08-22"
                           min="2015-01-01" max="2021-12-31">
                    <select name="rover">
                        <option value="curiosity">Curiosity</option>
                        <option value="perseverance">Perseverance</option>
                        <option value="opportunity">Opportunity</option>
                        <option value="spirit">Spirit</option>
                    </select>
                    <input type="submit" />
                }
            </div>
            @foreach (var photo in Model.photos)
            {
                <a href=@photo.ImgSrc target=”_blank”><img class="gallery_image" src=@photo.ImgSrc></a>
            }
        </div>
    </div>
</body>