@{
    ViewData["Title"] = "Home Page";
}
@model HomepageViewModel;



<html>

<head>
    
</head>
<body class="container">
    <div id="index-flex">
        <div id="index-welcome">
            <div id="welcome-container">
                <h1 id="header">welcome to mars</h1>
                <p id="motto">we got:</p>
            </div>
        </div>
        <div id="index-previews">
            <div style="background-image: url(/Images/Curiositys-Selfie.jpg)" class="banner-container">
                <div class="banner">
                    <h2 class="preview-title">ROVER<br />BOY</h2>
                </div>
            </div>
            <div style="background-image: url(/Images/marslandscape.jpg);" class="banner-container">
                <div class="banner-r">
                    <h2 class="preview-title">BIG<br />ROCKS</h2>
                </div>
            </div>
            <div style="background-image: url(/Images/degu-mouse.jpg)" class="banner-container">
                <div class="banner">
                    <h2 class="preview-title">ANGRY<br />MARTIANS</h2>
                </div>
            </div>
            <div style="background-image: url(@APICall.AstronomyPhotoOfTheDay().url)" class="banner-container">
                <div class="banner-r">
                    <h2 class="preview-title">COSMIC<br />ENTITIES</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>