@{
    ViewData["Title"] = "Home Page";
}

<html>
<body class="container">

    <div class="menu-wrap">
        <input id="menu_button" type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu" onclick="menuClose()">
            <div>
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="about_me.html">Page 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="s_container">
        <div class="d_header">
            <h1>
                Welcome
            </h1>
        </div>
        <section class="intro">
            <p>
                Welcome to the site!
            </p>
            <p>
                <img src="~/Images/roverboy.jpg" width="500" height="333">
            </p>
            <div float="10px" width="300px" height="50px" style="padding:5px;border:groove">
                <p>Hello this is rover he is lonely in space, keep him company for a while</p>
            </div>
        </section>
        <section class="s_container_inner">
            <a href="" class="btn">Read More</a>
        </section>
        <div class="d_footer">

        </div>
    </section>
</body>
</html>