@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>



    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div>
            <img src="~/Images/roverboy.jpg" width="500" height="333">
        </div>
        <div float="10px"width="300px" height="50px" style="padding:5px;border:groove">
            <p>Hello this is rover he is lonely in space, keep him company for a while</p>
        </div>

    </div>
</body>
</html>