@model HomepageViewModel;

<html>
    <head>
        <link rel="stylesheet" href="/css/Index.css">
    </head>
    <body>
        <div id="index-flex">
            <div id="index-previews">
                <a class="linksToPages" href="../Home/Gallery">
                    <div style="background-image: url(/Images/Curiositys-Selfie.jpg)" class="banner-container">
                        <div class="banner">
                            <h1 class="preview-title">GALLERY<br />PAGE</h1>
                        </div>
                    </div>
                </a>
                <a class="linksToPages" href="../Home/MarsData">
                    <div style="background-image: url(/Images/marslandscape.jpg);" class="banner-container">
                        <div class="banner-r">
                            <h2 class="preview-title">MARS<br />DATA</h2>
                        </div>
                    </div>
              </a>
                <a href="linksToPages">
                    <div style="background-image: url(/Images/degu-mouse.jpg)" class="banner-container">
                        <div class="banner">
                            <h2 class="preview-title">ANGRY<br />MARTIANS</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>