@model HomepageViewModel;

<html>
    <head>
        <link rel="stylesheet" href="/css/Index.css">
    </head>
    <body>
        <div id="index-flex">
            <div id="index-previews">
                <a class="linksToPages" href="../Home/Gallery">
                    <div id="gallery-b" class="banner-container">
                        <div class="banner">
                            <h1 class="preview-title">GALLERY<br />PAGE</h1>
                        </div>
                    </div>
                </a>
                <a class="linksToPages" href="../Home/MarsData">
                    <div id="data-b" class="banner-container">
                        <div class="banner-r">
                            <h2 class="preview-title">MARS<br />DATA</h2>
                        </div>
                    </div>
              </a>
                <a class="linksToPages" href="../Home/Martian">
                    <div id="martian-b" class="banner-container">
                        <div class="banner">
                            <h2 class="preview-title">ANGRY<br />MARTIANS</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>