@{
    ViewData["Title"] = "Home Page";
}

<html>
<body class="container">

    <div class="menu-wrap">
        <input id="menu_button" type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu" onclick="menuClose()">
            <div>
                <div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="about_me.html">Page 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="s_container">
        <div class="d_header">
            <h1>
                Welcome
            </h1>
            <h2>
                @DateTime.Now
            </h2>
        </div>
        <section class="intro">
            <div style="padding:5px;border:groove">
                <img src="~/Images/roverboy.jpg" width="500" height="333">
                <p>Hello this is rover he is lonely in space, keep him company for a while</p>
            </div>
            <div>
                <a class="twitter-timeline" data-width="200%" data-height="75%" data-theme="light" href="https://twitter.com/MarsCuriosity?ref_src=twsrc%5Etfw">Tweets by MarsCuriosity</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </section>
        <section class="s_container_inner">
            <a href="" class="btn">Read More</a>
        </section>
        <div class="d_footer">

        </div>
    </section>
</body>
</html>