@{
    ViewData["Title"] = "Home Page";
}
@model Dates



<html>
<body class="container">

    <section class="s_container">
        <div class="d_header">
            <h1>
                Welcome
            </h1>
            <h2>
                @DateTime.Now
            </h2>
        </div>
        <section class="intro">
            <div style="padding:5px;border:groove">
                <img src="~/Images/roverboy.jpg" width="500" height="333">
                <p>Hello this is rover he is lonely in space, keep him company for a while</p>
            </div>
            <div>
                <a class="twitter-timeline" data-width="200%" data-height="75%" data-theme="light" href="https://twitter.com/MarsCuriosity?ref_src=twsrc%5Etfw">Tweets by MarsCuriosity</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </section>
        <section class="s_container_inner">
            <a href="" class="btn">Read More</a>
        </section>
        
        <div>
            <form class="d-flex">
                <input class="form-control me-2" id="earth-date-input" type="date" placeholder="Earth date" aria-label="Earth date" style="text-align: center; margin-top: 10px">
                <button class="btn btn-outline-danger" id ="earth-to-mars-convert" type="submit">Convert to</button>
                <output class="form-control me-2" id="mars-date-output" name="result" for="earth-date-input" aria-label="Mars Sol date" style="text-align: center; margin-top: 10px ">Mars Sol Date</output>
            </form>
         </div>
         <div>
            <form class="d-flex">
                <input class="form-control me-2" id="mars-date-input" type="date" placeholder="Mars Sol Date" aria-label="Mars Sol Date" style="text-align: center; margin-top: 10px">
                <button class="btn btn-outline-danger " id ="mars-to-earth-convert" type="submit">Convert to</button>
                <output class="form-control me-2" id="earth-date-output" name="result" for="mars-date-input" aria-label="Earth date" style="text-align: center; margin-top: 10px ">Earth Date</output>
            </form>
        </div>
            
        <div class="d_footer">

        </div>
    </section>
</body>
</html>